name: deploy pipeline

on:
    push:
        branches:
            - main
            - dev
    pull_request:
        branches: [main, dev] 
    # schedule:
    #   - cron:  "*/1 * * * *" 
env:
    region_name: us-east-1      
      
jobs:

    setup_job:
      runs-on: ubuntu-latest
      steps:
        - name: checkout repo
          uses: actions/checkout@v4
        - name: create file
          run: |
            touch github-action.txt
            echo from first job > github-action.txt
            ls -la
            echo Hello world
            cat README.md
        - name: upload my artifact
          uses: actions/upload-artifact@v4
          with:
            name: my-file
            path: github-action.txt 
    build_job:
      needs: 
        - setup_job 
      runs-on: ubuntu-latest
      steps:
        - name: display hello
          run: echo hello 
        - uses: actions/download-artifact@v4
          with:
            name: my-file
        - name: display github-action.txt
          run: cat github-action.txt  
    deploy_job:
      needs: build_job  
      runs-on: ubuntu-latest
      steps:  
        - uses: actions/checkout@v2
        - uses: docker://ghcr.io/giopunt/aws-ecr-action:latest
          with:
              access_key_id: ${{ secrets.AWS_ACCESS_KEY_ID }}
              secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
              account_id: ${{ secrets.AWS_ACCOUNT_ID }}
              repo: docker/repo
              region: us-east-1
              tags: latest,${{ github.sha }}
              create_repo: true
              image_scanning_configuration: true
              set_repo_policy: true
              

             

