name: deploy pipeline

on:
    push:
        branches:
            - main
            - dev
    pull_request:
        branches: [main, dev] 
    # schedule:
    #   - cron:  "*/1 * * * *" 
env:
    region_name: us-east-1      
      
jobs:

    setup_job:
      runs-on: ubuntu-latest
      steps:
        - name: checkout repo
          uses: actions/checkout@v4
        - name: create file
          run: |
            touch github-action.txt
            echo from first job > github-action.txt
            ls -la
            echo Hello world
            cat README.md
        - name: upload my artifact
          uses: actions/upload-artifact@v4
          with:
            name: my-file
            path: github-action.txt 
    build_job:
      needs: 
        - setup_job 
      runs-on: ubuntu-latest
      steps:
        - name: display hello
          run: echo hello 
        - uses: actions/download-artifact@v4
          with:
            name: my-file
        - name: display github-action.txt
          run: cat github-action.txt  
    deploy_job:
      needs: build_job  
      runs-on: ubuntu-latest
      steps:  
      - name: Sync From Docker Hub to ECR
        uses: sebdroid/docker-sync-action@v2.1.1
        with:
          source_repository: docker.io/portfolio:latest
          source_username: ${{ secrets.DOCKER_USERNAME }}
          source_password: ${{ secrets.DOCKER_PASSWORD }}
          target_repository: 123456789012.dkr.ecr.us-east-1.amazonaws.com/nginx:latest
          target_username: ${{ secrets.ECR_USERNAME }}
          target_password: ${{ secrets.ECR_PASSWORD }}