name: deploy pipeline

on:
    push:
        branches:
            - main
            - dev
    pull_request:
        branches: [main, dev] 
    # schedule:
    #   - cron:  "*/1 * * * *" 
env:
    region_name: us-east-1      
      
jobs:

    setup_job:
      runs-on: ubuntu-latest
      steps:
        - name: checkout repo
          uses: actions/checkout@v4
        - name: create file
          run: |
            touch github-action.txt
            echo from first job > github-action.txt
            ls -la
            echo Hello world
            cat README.md
        - name: upload my artifact
          uses: actions/upload-artifact@v4
          with:
            name: my-file
            path: github-action.txt 
    build_job:
      needs: 
        - setup_job 
      runs-on: ubuntu-latest
      steps:
        - name: display hello
          run: echo hello 
        - uses: actions/download-artifact@v4
          with:
            name: my-file
        - name: display github-action.txt
          run: cat github-action.txt  
    deploy_job:
      needs: build_job  
      runs-on: ubuntu-latest
      steps:
        - name: Checkout
          uses: actions/checkout@v3
      
        - name: Set up Docker
          uses: docker/setup-buildx-action@v4  
      
        - name: Test Docker
          run: |
            docker version
            docker info   
        - name: Sync From Docker Hub to ECR
          uses: sebdroid/docker-sync-action@v2.0.0
          with:
            source_repository: docker.io/desirefikoue/portfolio:latest
            source_username: ${{ secrets.DOCKER_USERNAME }}
            source_password: ${{ secrets.DOCKER_PASSWORD }}
            target_username: ${{ secrets.ECR_USERNAME }}
            target_password: ${{ secrets.ECR_PASSWORD }}
        - name: set up AWS credentials
          uses: aws-actions/configure-aws-credentials@v4
          with:
            aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_KEY_ID }} 
            aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
            aws-region: ${{ env.aws_region }}  
        
        - name: login to AWS
          id: login-ecr
          uses: aws-actions/amazon-ecr-login@v2    